<%= form_for(@quiz) do |f| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div>
    <%= f.label :title, class: "form-label-group" %> 
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :summary, class: "form-label-group"  %> 
    <%= f.text_field :summary, class: 'form-control' %>
  </div>

  <div>
  <h3>Or create a new question:</h3>
  <%= f.fields_for :questions do |question_attributes|%>
      <%= question_attributes.label :question, "Enter your question:" %>
      <%= question_attributes.text_field :question %>
  <% end %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
